<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>neusoftsms</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
   
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:app1.xml</param-value>
  </context-param>
 
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.neusoft.web.AppFilter_1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/neusoft/crol/*</url-pattern>
  </filter-mapping>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/ex/error1.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/ex/error1.jsp</location>
  </error-page>
</web-app>